.col > button.codename.v-btn{
    height: 100px;
    font-size: 1.3vw;
    border-width: 2px;
    margin: 8px;
    padding: 0px;
    /*
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    */
}
button.codename.black--text{
    border-width: 7px !important;
}
button.codename.black:not(.v-btn--outlined){
    color: white !important;
    border-width: 5px !important;
}
